{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>GROOVENATION</title>

      <link rel="stylesheet" type="text/css"  href="{% static 'drums/css/bootstrap.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'drums/css/font-awesome/css/font-awesome.css' %}">

      <link href="{% static 'drums/css/owl.carousel.css' %}" rel="stylesheet" media="screen">
      <link href="{% static 'drums/css/owl.theme.css' %}" rel="stylesheet" media="screen">

      <link rel="stylesheet" type="text/css"  href="{% static 'drums/css/style.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'drums/css/responsive.css' %}">

      <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

      <script type="text/javascript" src="{% static 'drums/js/modernizr.custom.js' %}"></script>

      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  </head>
  <body>
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">GrooveNation</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'home' %}" class="">Главная страница</a></li>
            <li><a href="{% url 'education' %}" class="">Обучение</a></li>
            <li><a href="{% url 'covers' 'all' %}" class="">Кавера</a></li>
            <li><a href="{% url 'drummer' %}" class="">Случайный барабанщик</a></li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>Проект разработал и выполнил Мосин Данил.</p>
            </div>
            <div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'drums/js/jquery.1.11.1.js' %}"></script>

    <script type="text/javascript" src="{% static 'drums/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'drums/js/SmoothScroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'drums/js/jquery.isotope.js' %}"></script>

    <script src="{% static 'drums/js/owl.carousel.js' %}"></script>

    <script type="text/javascript" src="{% static 'drums/js/main.js' %}"></script>

  </body>
</html>