{% extends 'drums/base.html' %}
{% load static %}

{% block content %}
    <div id="tf-team" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="section-title center">
                    <h2><strong>Кавера</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>

                <div id="team" class="owl-carousel owl-theme row">
                    <div class="item">
                        <iframe
    width="560"
    height="315"
    src="https://youtu.be/L1rnGvKJQBE"
    srcdoc="<style>*{padding:0;margin:0;overflow:hidden}
    html,body{height:100%}
    img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}
    span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}
    </style>
    <a href=https://youtu.be/L1rnGvKJQBE?autoplay=1>
    <img src=https://img.youtube.com/vi/li_9PBrcOcQ/hqdefault.jpg alt='Demo video'>
    <span>▶</span>
    </a>"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    title="Demo video">
</iframe>
                    </div>

                    <div class="item">
                        <img src="{% static 'drums/images/team/dannyC.jpg' %}" alt="..." class="">
                    </div>

                    <div class="item">
                        <img src="{% static 'drums/images/team/dannyC.jpg' %}" alt="..." class="">
                    </div>

                    <div class="item">
                        <img src="{% static 'drums/images/team/dannyC.jpg' %}" alt="..." class="">
                    </div>

                    <div class="item">
                        <img src="{% static 'drums/images/team/dannyC.jpg' %}" alt="..." class="">
                    </div>

                    <div class="item">
                        <img src="{% static 'drums/images/team/dannyC.jpg' %}" alt="..." class="">
                    </div>

                    <div class="item">
                        <img src="{% static 'drums/images/team/dannyC.jpg' %}" alt="..." class="">
                    </div>

                    <div class="item">
                        <img src="{% static 'drums/images/team/dannyC.jpg' %}" alt="..." class="">
                    </div>

                    <div class="item">
                        <img src="{% static 'drums/images/team/dannyC.jpg' %}" alt="..." class="">
                    </div>
                    <div class="item">
                        <img src="{% static 'drums/images/team/dannyC.jpg' %}" alt="..." class="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}