{% extends 'drums/base.html' %}
{% load static %}

<script src='{% static "drums/js/covers.js" %}'></script>
<script src='{% static "drums/js/youtube-videos.js" %}'></script>

{% block content %}

<div id="covers-title" style="margin-top: 200px;font-size: 40px;text-align: center;">
    <select onchange='location.href="/covers/"+event.target.value' class="custom-select custom-select-lg mb-3">
        <option value="all" {% if currentGenre == "all" %} selected {% endif %}> Все</option>
  
        {% for genre in genres %}
        <option value="{{ genre }}" {% if currentGenre == genre %} selected {% endif %}>{{ genre }}</option>
       
        {% endfor %}
    </select>
      
   
    
    {% for cov in covers %}
        <h1> {{cov.genre}} </h1>
        <iframe width="1004" height="753" src="https://www.youtube.com/embed/zGFlwsYMatc" title="История серии The Elder Scrolls. Выпуск 2. Приближение смертной тени" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <a> {{cov.url}} </a>
        <hr>
    {% endfor %}
</div>
{% endblock %}