{% extends 'drums/base.html' %}
{% load static %}

{% block content %}
<div class="maindrum default-background" style="min-height: calc(100vh - 135px);">

<div id="drummer-title" style="padding-top: 100px;font-size: 40px;text-align: center;color: #878787;">
{{ originalTitle }}
{% for image in images %}
<image src='{{ image }}' style="margin: 20px auto;display: block;height: 30vh;"/>
{% endfor %}
</div>


<div id="drummer-content" class="text-justify" style="white-space: pre-wrap;padding: 0 4vw 30px;color: #878787;font-size: medium; background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.47) 13%, rgba(0,0,0,0.58) 84%, rgba(0,0,0,0) 99%);">
    {{ content }}
</div>

</div>
<div id='video-cointainer' style="display:flex; flex-wrap: wrap; justify-content: center; margin: 20px;">
     <button type="button" class="btn btn-warning btn-lg" onclick='loadYoutubeVideos("{{ originalTitle }}")'>Посмотреть видео с {{ originalTitle }}</button>
</div>
<script src='{% static "drums/js/youtube-videos.js" %}'></script>
{% endblock %}