{% extends 'drums/base.html' %}
{% load static %}

{% block content %}
    <div id="tf-works">
        <div class="overlay">
        <div class="container">
            <div class="section-title text-center center">
                <h2><strong>Базовый курс</strong> по игре на барабанах</h2>
            </div>
            <div class="space"></div>

            <div id="lightbox" class="row">

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="{% static 'drums/files/1Lesson.docx' %}" download = "1Lesson.docx">
                                <div class="hover-text">
                                    <h4>Первое занятие</h4>
                                    <small>Как правильно держать палочки</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="{% static 'drums/images/education/1.jpg' %}" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 photography app">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="{% static 'drums/files/2Lesson.docx' %}" download = "2Lesson.docx">
                                <div class="hover-text">
                                    <h4>Второе занятие</h4>
                                    <small>Упражнения на пэде</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="{% static 'drums/images/education/2.jpg' %}" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="{% static 'drums/files/3Lesson.docx' %}" download = "3Lesson.docx">
                                <div class="hover-text">
                                    <h4>Третье занятие</h4>
                                    <small>Знакомство с нотной грамотой</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="{% static 'drums/images/education/3.jpg' %}" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="{% static 'drums/files/4Lesson.docx' %}" download = "4Lesson.docx">
                                <div class="hover-text">
                                    <h4>Четвертое занятие</h4>
                                    <small>Простые ритмы</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="{% static 'drums/images/education/4.jpg' %}" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="{% static 'drums/files/5Lesson.docx' %}" download = "5Lesson.docx">
                                <div class="hover-text">
                                    <h4>Пятое занятие</h4>
                                    <small>Игра двоек и парадидлов</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="{% static 'drums/images/education/5.jpg' %}" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 app">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="{% static 'drums/files/6Lesson.docx' %}" download = "6Lesson.docx">
                                <div class="hover-text">
                                    <h4>Шестое занятие</h4>
                                    <small>Простые заполнения</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="{% static 'drums/images/education/6.jpg' %}" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 photography web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="{% static 'drums/files/7Lesson.docx' %}" download = "7Lesson.docx">
                                <div class="hover-text">
                                    <h4>Седьмое занятие</h4>
                                    <small>Первая песня</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="{% static 'drums/images/education/7.jpg' %}" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="{% static 'drums/files/8Lesson.docx' %}" download = "8Lesson.docx">
                                <div class="hover-text">
                                    <h4>Восьмое занятие</h4>
                                    <small>Игра двоек ногой</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="{% static 'drums/images/education/8.jpg' %}" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}